@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 4px 20px;
  background-color: rgb(54, 20, 61);
  color: white;
}

nav .logo h2 {
  font-size: 32px;
  font-weight: 500;
}

nav .navLinks {
  display: flex;
  list-style: none;
}

nav .navLinks li {
  margin-right: 30px;
  cursor: pointer;
}

nav button {
  padding: 8px 17px;
  background-color: #898ecf;
  border: none;
  border-radius: 6px;
  border: 1px solid rgb(71, 77, 172);
  cursor: pointer;
}
